@import "tailwindcss";

h1, h1 > a, b{
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}
* {
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
}